.App {
  text-align: center;
  position: relative;
  max-height: 650px;
}
a {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-decoration: none;
}
a:hover {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.active {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}
nav a {
  margin: 15px;
}

nav {
  background-color: rgb(185, 231, 231);
  padding: 5px;
}
.footer {
  padding: 15px;
  margin-top: 25%px;
  background-color: rgb(185, 231, 231);
}
.top {
  position: absolute;
}
.bottom {
  position: absolute;
}

input {
  border-radius: 5px;
  height: 30px;
}
label {
  font-size: 25px;
  display: inline-block;
  text-align: right;
  padding: 10px;
}
li {
  list-style: none;
}

.courseCard {
  border: 2px solid, rgb(34, 226, 226);
  border-radius: 5px;
  margin: 10px;
  max-width: 450px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.courseCard:hover {
  background-color: rgb(182, 235, 236);
}
.courseLink {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}
.linkBlock {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
